* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Niconne', cursive;
    outline: none;
}

body {
    background: url('../img/80d71fe4.png');
    background-attachment: fixed;
}

button {
    font-family: 'Marck Script', cursive;
    min-width: 100px;
    height: 30px;
    border: solid grey 1px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
}

button:hover {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(255, 100, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(255, 100, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(255, 100, 0, 0.75);
    transform: translateY(-7px);
}

button:active {
    -webkit-box-shadow: 0px 18px 25px -2px rgb(255, 100, 0);
    -moz-box-shadow: 0px 18px 25px -2px rgb(255, 100, 0);
    box-shadow: 0px 18px 25px -2px rgb(255, 100, 0);
    transform: translateY(-3px);
    outline: none;
}

li {
    list-style-type: circle;
    font-family: 'Italianno', cursive;
    text-align: left;
    font-size: 25px;
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.inline {
    width: 100%;
    display: flex;
}

.nav {
    height: 50px;
    text-align: center;
    margin: 50px auto 20px auto;
    width: 60%;
}

.navbar {
    font-family: 'Marck Script', cursive;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navItem {
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    width: 10%;
    min-width: 150px;
    text-align: center;
    text-shadow: white;
    font-size: 1.5em;
    font-family: 'Marck Script', cursive;
}

.noActive {
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.noActive:hover {
    -webkit-box-shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 20px 29px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-10px);
}

.activeItem {
    -webkit-box-shadow: 0px 20px 29px 0px rgba(77, 77, 77, 0.75);
    -moz-box-shadow: 0px 20px 29px 0px rgba(77, 77, 77, 0.75);
    box-shadow: 0px 20px 29px 0px rgba(77, 77, 77, 0.75);
    color: rgb(70, 70, 70);
    transform: translateY(-10px);
    text-decoration: underline wavy #fd5949;
}

.content {
    font-size: 20px;
    height: 450px;
    width: 80%;
    padding: 5px 15px;
    margin: 5px auto;
    -webkit-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    transition: all .5s ease-in-out;
}

.content:hover {
    -webkit-box-shadow: 0px 18px 22px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 22px 12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 22px 12px rgba(0, 0, 0, 0.75);
    transform: translateY(-5px);
}

.quote {
    border: double 3px rgb(255, 102, 0);
    margin: 25px auto;
    padding: 15px;
    width: 90%;
    height: 90%;
    border-radius: 3px;
}

.quote_animated {
    width: 100%;
    position: relative;
    top: 70px;
    opacity: .0;
}

.quote_sentence {
    font-family: 'Italianno', cursive;
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

.quote_letter {
    text-align: right;
    font-family: 'Tangerine', cursive;
    width: 80%;
    font-size: 30px;
}

.abtMe {
    border: double 3px rgb(255, 102, 0);
    margin: 25px auto;
    padding: 15px;
    width: 90%;
    height: 90%;
    border-radius: 3px;
}

#myPhoto {
    border: 2px solid rgb(135, 134, 134);
    border-radius: 4px;
    padding: 4px;
    max-width: 100px;
    height: auto;
    margin: 0 15px 0 20px;
}

.abtMe_Content {
    width: 70%;
}

.abtMe_Skills {
    justify-content: space-around;
    margin: 5px auto;
    padding: 5px;
    font-family: 'Courgette', cursive;
    
}
.abtMe_Skill {
    font-family: 'Courgette', cursive;
    font-size: 15px;
    margin: 5px 0 0 0;
}

#showSkills {
    display: none;
}

.myProjects {
    border: double 3px rgb(255, 102, 0);
    margin: 25px auto;
    padding: 15px;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    text-align: center;
    font-size: 25px;
}

.myProjects_gitLink {
    font-family: 'Marck Script', cursive;
    text-align: left;
    padding: 15px;
}

.myProjects_gitLink a {
    text-decoration: none;
    color: rgb(255, 102, 0);
    text-shadow: 0 0 5px rgb(237, 224, 224);
}

.myProjects_gitLink div {
    color: rgb(0, 0, 0);
}

.form {
    border: double 3px rgb(255, 102, 0);
    margin: 25px auto;
    padding: 15px;
    width: 90%;
    height: 90%;
    border-radius: 3px;
    text-align: center;
    font-size: 25px;
}

.contactForm {
    display: flex;
    margin: 10px auto;
    text-align: center;
    width: 80%;
}

.contactForm div {
    width: 100%;
}

.contactForm_imput {
    display: block;
    height: 35px;
    margin: 20px 10px;
    padding: 5px;
    width: 90%;
    font-size: 15px;
    transition: all .2s ease-in-out;
    outline: none;
    border-radius: 5px;
    font-family: 'Courgette', cursive;
    border: solid 1.5px rgb(124, 124, 124);
}

.contactForm_imput:hover {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    border-color: rgb(111, 111, 111);
}

.contactForm_imput:focus {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    border-color: rgb(255, 102, 0);
}

.contactForm_imput---Message {
    height: 145px;
    margin: 20px;
    padding: 5px;
    width: 90%;
    font-size: 15px;
    border-radius: 5px;
    border: solid 1.5px rgb(124, 124, 124);
    outline: none;
    transition: all .2s ease-in-out;
    font-family: 'Courgette', cursive;
}

.contactForm_imput---Message:hover {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    border-color: rgb(111, 111, 111);
}

.contactForm_imput---Message:focus {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(0, 0, 0, 0.75);
    border-color: rgb(255, 102, 0);
}
.form_error{
    font-size: 18px;
    color:red;
    margin:0px;
}

.green{
    color: green;
    text-decoration: underline;
}   

#send {
    transition: all .2s ease-in-out;
}

#clear:hover {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(255, 0, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(255, 0, 0, 0.75);
    transform: translateY(-7px);
}

#clear:active {
    -webkit-box-shadow: 0px 18px 25px -2px rgb(255, 0, 0);
    -moz-box-shadow: 0px 18px 25px -2px rgb(255, 0, 0);
    box-shadow: 0px 18px 25px -2px rgb(255, 0, 0);
    transform: translateY(-3px);
    outline: none;
}

#send:hover {
    -webkit-box-shadow: 0px 18px 25px -2px rgba(0, 255, 0, 0.75);
    -moz-box-shadow: 0px 18px 25px -2px rgba(0, 255, 0, 0.75);
    box-shadow: 0px 18px 25px -2px rgba(0, 255, 0, 0.75);
    transform: translateY(-7px);
}

#send:active {
    -webkit-box-shadow: 0px 18px 25px -2px rgb(0, 255, 0);
    -moz-box-shadow: 0px 18px 25px -2px rgb(0, 255, 0);
    box-shadow: 0px 18px 25px -2px rgb(0, 255, 0);
    transform: translateY(-3px);
    outline: none;
}

.socials {
    padding-top: 20px;
    height: 30px;
    width: 250px;
    text-align: center;
    margin: 10px auto;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socials a {
    color: rgb(51, 51, 51);
}

.linkedin {
    height: 35px;
    width: 35px;
    border-radius: 8px;
    text-align: center;
}

.fb {
    height: 35px;
    width: 35px;
    border-radius: 2px;
}

.github {
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.instagram {
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.linkedin:hover {
    color: #4875B4;
    background: white;
}

.fb:hover {
    color: #3B5998;
    background: white;
}

.github:hover {
    background: rgb(8, 8, 8);
    color: white;
}

.instagram:hover {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

@media only screen and (max-width: 1038px) {
    .nav {
        height: 90px;
        text-align: center;
        margin: 20px auto 20px auto;
        width: 80%;
    }
    .navItem {
        display: inline-block;
        border-radius: 8px;
        padding: 5px;
        width: 40%;
        min-width: 150px;
        margin: 5px auto;
    }
    .content {
        font-size: 20px;
        height: 500px;
    }
    .abtMe_Skills ul li {
        font-size: 18px;
    }
    .abtMe_Skill {
        font-size: 14px;
    }
}

@media only screen and (max-width: 700px) {
    button {
        min-width: 90px;
    }
    .content {
        font-size: 20px;
        height: 615px;
    }
    .contactForm {
        display: block;
        margin: 5px auto;
        text-align: center;
        width: 80%;
    }
    .form {
        display: block;
    }
    .form div {
        font-size: 21px;
    }
    .contactForm_imput {
        margin: 10px auto;
        width:98%;
    }
    .contactForm_imput---Message {
        margin: 10px auto;
        width:98%;
    }
    .abtMe_Photo {
        display: none;
    }
    .abtMe_Content {
        margin: 0 auto;
        padding: 55px 5px;
        font-size: 25px;
        width: 90%;
        text-align: center;
    }
    .abtMe_Skills {
        display: none;
        font-size: 25px;
        text-align: center;
    }
    .abtMe_Skill {
        font-size: 20px;
        padding: 2px;
    }
    .abtMe_Skills ul li {
        margin-left: 10px;
    }

    #showSkills {
        display: block;
        margin: 40px auto;
    }
}

@media only screen and (max-width: 401px) {
    .nav {
        height: 180px;
        text-align: center;
        margin: 30px auto 30px auto;
        width: 70%;
    }
    .navItem {
        display: inline-block;
        border-radius: 8px;
        padding: 5px;
        width: 20%;
        min-width: 150px;
        margin: 5px auto;
    }
    .content {
        font-size: 20px;
        height: 700px;
        width: 97%;
    }
    .quote_sentence {
       
        margin-top: 100px;
       
    }
    .abtMe_Content {
        padding: 30px 5px;
        font-size: 23px;
        width: 100%;
    }
    .abtMe_Skills {
        font-size: 21px;
        text-align: center;
        
        
    }
    .myProjects {
        padding: 40px 5px;
    }
    .contactForm {
        display: block;
        margin: 10px auto;
        text-align: center;
        width: 90%;
        border: 2px solid transparent;
    }
    .form_error{
        font-size: 13px;
        color:red;
    }
   
    .myProjects_gitLink {
        font-size: 23px;
    }
}

/* @media screen and (max-width: 901px) and (orientation: landscape) {
    .nav {
        height: 25vh;
    }
    .content {
        height: 140vh;
    }
    .quote_animated {
        top: 40px;
    }
    .abtMe_Content {
        font-size: 19px;
        text-align: center;
    }
    .abtMe_Skills li {
        text-align: center;
    }
    .contactForm {
        display: block;
        text-align: center;
    }
    .contactForm_imput {
        margin: 10px auto;
    }
    .contactForm_imput---Message {
        margin: 10px auto;
    } */
/* } 