
.icon-mail:before { content: '\e800'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */